<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>

<h1>{{title}}</h1>
<h2> Species : {{species}} </h2>
<h2> PI: {{investigator}} </h2>
<h2> Glycan type : {{glycan}} </h2>
<h2> Cell type : {{cell}}</h2> 

* Galaxy note - each msa file is exposed as a new dataset in your history, thus links in this html file do not work in Galaxy. You may need to refresh your history to see all datasets.
<ul>
    {% for item in items %}
    <li><a href="{{ item.href }}">{{ item.caption }}</a></li>
    {% endfor %}
</ul>


</body>
</html>
