<!DOCTYPE html>
<html lang="en">
<head>
    <title> {{title}} </title>
    <meta charset="UTF-8">
</head>
<body>

<h1>msa files for</h1>
<h2> Species : {{species}} </h2>
<h2> PI: {{investigator}} </h2>
<h2> Glycan type : {{glycan}} </h2>
<h2> Cell type : {{cell}}</h2> 

<ul>
    {% for item in items %}
    <li><a href="{{ item.href }}">{{ item.caption }}</a></li>
    {% endfor %}
</ul>


</body>
</html>
