<!DOCTYPE html>
<html lang="en">
<head>
    <title> {{title}} </title>
    <meta charset="UTF-8">
</head>
<body>

<h1>xls glycan array files for</h1>
<h2> Sample  : {{sample}} </h2>
<h2> Array version: {{arrayversion}} </h2>

<h3> Conclusive Data</h3>
<ul>
    {% for item in items %}
    {% if item.conclusive  %}
    <li><a href="{{ item.href }}">{{ item.caption }}</a></li>
    {% endif %}
    {% endfor %}
</ul>

{% if keepinconclusive  %}

<h3> Inconclusive Data</h3>
<ul>
    {% for item in items %}
    {% if not item.conclusive  %}
    <li><a href="{{ item.href }}">{{ item.caption }}</a></li>
    {% endif %}
    {% endfor %}
</ul>
{% endif %}

</body>
</html>

